body {
  margin: 0; 
  padding: 0; 
  background-image: url(../images/background.png);
  height: auto;
    
}


.form-check-input {
margin-top:2%;
}

.zag {
	text-align: center;
	font-family: 'BebasNeueRegular';
	font-size:22px;
	color: #917b5a;

}

.mainnazva {
text-align: center;
font-size:60px;
font-family: 'BebasNeueRegular';
  color: #917b5a;
}
.mainnazva2 {
  font-size:30px;
}
#img-preview{
	background-image:url(../images/artworks.jpg);

      width: 300px;
      height: 300px;
      
    }
    .otmena {
      font-size:22px;
    }
 	a:active, a:visited, a:hover  {
 		color: black;
 	}
 	#API {
 	margin-bottom: 1%;
 	}	
.btn-info {
	color: white;

}

.form-group {
	width: 500px;
	position:flex;
	margin-left:25%;
	

}
.addq {
  width: 150px;
  height: 60px;
  font-size: 30px;
  color: #917b5a;
}
.form-control {
	border: solid 1px #917b5a;
	border-radius: 0px !important;
	  font-family: 'Open Sans', sans-serif;
	  font-size: 18px;
	  color:black; 
}
.form-control:focus, .form-control-2:focus {
    outline: 1;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(237, 117, 19, 1);
   }
.abc {
	padding-right: 5%;
}



#map {
            width: auto;
            height: 300px;
        }
        

.photo1 {
	font-family: 'Open Sans', sans-serif; 
}
.btn {
  color: black;
  background-color: white;
  border-color: #917b5a;
  border-radius: 0px !important;


}

.btn.focus,
.btn:focus {
  color: black;
  background-color: #917b5a;
  border-color: #917b5a;
  outline: none;
  box-shadow: none;
}
.btn:hover {
  color:white;
  background-color: #917b5a;
  border-color: #917b5a;
  outline: none;
  box-shadow: none;
}
.btn.active,
.btn:active {
  color: white;
  background-color: #917b5a;
  border-color: #917b5a;
  outline: none;
}
.btn.active.focus,
.btn.active:focus,
.btn.active:hover,
.btn:active.focus,
.btn:active:focus,
.btn:active:hover {

  color: white;
  background-color: #917b5a;
  border-color: #917b5a;
  outline: none;
  box-shadow: none;
}
.btn:active
{
    background-color:#917b5a !important; /* add here any color */
}
@font-face {

font-family: "Pushkin";
src: url("../fonts/Pushkin.otf") format("truetype"); 
font-family:"BebasNeueRegular"; 
src:url("../fonts/BebasNeue Regular.ttf")  format("truetype") ;
font-style: normal; 
font-weight: normal; 
}

label {
  font-size:24px;
}

.label1 {
  margin-right: 30%;
}
.datta {
  display: flex;
  margin-left: 25%;
}
.rel {
  margin-left: 25%
}
.otmena {
  margin-bottom:10px;
}

@media (max-width: 993px) {

.datta {
  margin-left: 15%;
}
.rel {
  margin-left: 15%
  width: 70%;
}
.form-group {
  width: 70%;
  margin-left:15%;
  position: relative;
  

}

}

@media (max-width: 576px) {
.datta {
  margin-left:0%;
  width:15%;
  display: relative;
}
#date1 {
  width:50%;
}
#date2 {
  width:50%;
}
.label1 {
  margin-right: 10%;
}
.rel {
  margin-left: 5%
  width: 80%;
}
.form-group {
  width: 80%;
  margin-left:10%;
  position: relative;
  

}

}








div#wrapper{
max-width:1000px;
margin:0 auto;
min-height: 100%;
height: auto !important;
height: 100%;
}
