body {
    margin: 0;
    padding: 0;
    background-image: url(img/background.png);
    height: auto;

}
#logotip {
    font-size: 50px;
    font-family: Pushkin;
    color: #917b5a;
    margin-left:16%;
}
.logo {
    height: 175px;
}

#search, #login {
    font-size:18px;
    font-family: 'Open Sans', sans-serif;
    color:black;



}
.classka {
    margin-right: 17%;

}
.navbar {
    padding-top:2%;
}
.videopocas {
    background-image: url(img/video.png);
    height: 475px;

}
.col-lg-7 {
    padding-left:15%;
    padding-top: 1%;
}
.col-lg-5 {
    padding-right:13%;
}
video {

    width:85%;
    height: 420px;
    cursor: pointer;
    border: 3px solid #917b5a;
    object-fit: inherit;
}
.text1  {

    margin-right:9%;
}
.B {
    text-align: right;
    margin-top: 3%;
}
.B h1 {
    font-family: 'BebasNeueRegular';
    font-size:50px;
    color: #917b5a;
}
.text1 p {
    font-size:18px;
    font-family: 'Open Sans', sans-serif;
    color:black;
}


.item, .item1 {
    display: inline-block;
    position: relative;
    outline: none;
    cursor: pointer;
}

.item img {
    display: block;
    width: 270px;
    height: 270px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE 6-9 */
}
.item1 img {
    display: block;
    width: 270px;
    height: 270px;
}

.photo-gallery-my {
    padding-left:15%;
    padding-top:10%;
}
.knopki {
    padding-top:150px;
    text-align: center;

}
.knopki h1 {
    font-family:'BebasNeueRegular';
    font-size:50px;
    color: #917b5a;
}
.knopki p {
    font-size:18px;
    font-family: 'Open Sans', sans-serif;
    color:black;
}
.svyaz {
    margin-top: 250px;
}
.C h2 {
    margin-left:28%;
    font-family:'BebasNeueRegular';
    font-size:50px;
    color: #917b5a;

}
.odin {
    border:  solid 1px #917b5a;
    width: 70%;
    margin-left:28%;
    border-radius: 0px !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;

}
.btn1  {
    text-align: left;
    border-radius: 0px !important;
    margin-left:28%;
    width: 20%;

}
.add {
    padding-bottom: 3%;
}
.D h2 {
    font-family:'BebasNeueRegular';
    font-size:50px;
    color: #917b5a;
    margin-left:10%;
}
.dva {
    border:  solid 1px #917b5a;
    width: 70%;
    margin-left:10%;
    border-radius: 0px !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;

}
.tri {
    border:  solid 1px #917b5a;
}
.btn2 {
    text-align: left;
    border-radius: 0px !important;
    margin-left:10%;
    width: 20%;
}
.pamyat {
    margin-top: 250px;
    background-image: url(img/back1.png);
    height: 812px;
}
.Photolupa {
    margin-left:13%;
}
.textpomnu {
    text-align:right;
}
.text2 {
    text-align: right;
    margin-right:20%;
    margin-top:25%;
}
.text2 h1 {
    font-family:'BebasNeueRegular';
    font-size:50px;
    color: #917b5a;
}
.text2 p, .politika {
    font-size:18px;
    font-family: 'Open Sans', sans-serif;
    color:black;
}
.phone {
    height:1100px;
    padding-top:150px;
}

.googlemarket , .appstoremarket {
    margin-top:120%;
}
.politika {
    text-align: center;
    margin-bottom:30px;
}

@font-face {

    font-family: "Pushkin";
    src: url("fonts/Pushkin.otf") format("truetype");
    font-family:"BebasNeueRegular";
    src:url("fonts/BebasNeue Regular.ttf")  format("truetype") ;
    font-style: normal;
    font-weight: normal;
}
.form-control:focus, .form-control-2:focus {
    border: 1px #917b5a solid;
    outline: 1;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(237, 117, 19, 1);

}
.form-group:focus {
    outline: 1;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(237, 117, 19, 1);
}
.btn {
    color: black;
    background-color: white;
    border-color: #917b5a;
}
.btn.focus,
.btn:focus {
    color: black;
    background-color: #917b5a;
    border-color: #917b5a;
    outline: none;
    box-shadow: none;
}
.btn:hover {
    color:white;
    background-color: #917b5a;
    border-color: #917b5a;
    outline: none;
    box-shadow: none;
}
.btn.active,
.btn:active {
    color: white;
    background-color: #917b5a;
    border-color: #917b5a;
    outline: none;
}
.btn.active.focus,
.btn.active:focus,
.btn.active:hover,
.btn:active.focus,
.btn:active:focus,
.btn:active:hover {

    color: white;
    background-color: #917b5a;
    border-color: #917b5a;
    outline: none;
    box-shadow: none;
}
.btn:active
{
    background-color:#917b5a !important; /* add here any color */
}
a {
    color: black; /* Цвет ссылок */
}
.modal-content  {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    background-color: #f5f5f5 !important;
}
h5 {
    margin-left:40%;
    font-family:'BebasNeueRegular';
    font-size:50px;
    color: #917b5a;


}
.crest {
    color:#917b5a;
}
.btn3 {
    text-align: left;
    border-radius: 0px !important;
    margin-right: 40%;
    width: 20%;

}
.add3 {
    margin-bottom:3%;
}
input {

    border-radius: 0px !important;
}


.odva  {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    background-color: #151516 !important;
    border: 3px #917b5a solid;
    width:420px;
}
.vtoraya {
    text-align: center;
}
.vtoraya img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE 6-9 */
    width:80%;
    height: 80%;
}
.familia {
    font-family:'BebasNeueRegular';
    font-size:35px;
    color: #917b5a;
}
.IO, .nazva {
    font-size:18px;
    font-family: 'Open Sans', sans-serif;
    color:white;
}
.dati2 {
    font-size:18px;
    font-family: 'Open Sans', sans-serif;
    color:white;
}
